<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Config\Model\Config">
        <plugin name="aristander_ai_aai_config" type="\AristanderAi\Aai\Plugin\ConfigPlugin" />
    </type>
    <type name="\Magento\Customer\Controller\Adminhtml\Group\NewAction">
        <plugin name="aristander_ai_aai_adminhtml_customer_group_newaction" type="\AristanderAi\Aai\Plugin\Adminhtml\Customer\Group\NewActionPlugin" />
    </type>
    <type name="\Magento\Customer\Ui\Component\Listing\Column\GroupActions">
        <plugin name="aristander_ai_aai_adminhtml_customer_group_groupactions" type="\AristanderAi\Aai\Plugin\Adminhtml\Customer\Group\GroupActionsPlugin" />
    </type>
    s::prepareDataSource
</config>