<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route frontName="aristander-ai" id="aristander_ai_admin">
            <module name="AristanderAi_Aai" before="Magento_Backend" />
        </route>
    </router>
</config>