<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aristander_ai_aai" translate="label" sortOrder="1000">
            <label>Aristander.ai</label>
        </tab>
        <section id="aai" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>aristander_ai_aai</tab>
            <resource>AristanderAi_Aai::aai</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <validate>validate-alphanum</validate>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Event Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>

        <section id="aai_visualization" translate="label" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Visualization</label>
            <tab>aristander_ai_aai</tab>
            <resource>AristanderAi_Aai::aai</resource>
            <group id="visualization" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Visualization</label>
                <field id="visualization" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>AristanderAi\Aai\Block\Adminhtml\System\Config\Visualization</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>