<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aristander_ai_aai" translate="label" sortOrder="1000">
            <label>Aristander.ai</label>
        </tab>
        <section id="aai" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>aristander_ai_aai</tab>
            <resource>AristanderAi_Aai::aai</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <attribute type="expanded">1</attribute>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <validate>validate-alphanum</validate>
                </field>
            </group>
            <group id="event_tracking" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Event Tracking</label>
                <attribute type="expanded">1</attribute>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Event Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="price_import" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Price Management</label>
                <attribute type="expanded">1</attribute>
                <field id="price_mode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Price Mode</label>
                    <source_model>AristanderAi\Aai\Model\Config\Source\PriceMode</source_model>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Price Import</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="restore_prices" translate="label" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>AristanderAi\Aai\Block\Adminhtml\System\Config\RestorePrices</frontend_model>
                </field>
            </group>
        </section>

        <section id="aai_dashboard" translate="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Dashboard</label>
            <tab>aristander_ai_aai</tab>
            <resource>AristanderAi_Aai::aai</resource>
            <group id="dashboard" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Dashboard</label>
                <field id="visualization" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>AristanderAi\Aai\Block\Adminhtml\System\Config\Visualization</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>